/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


.container{
    display:flex;
    color:white;
    background-color: rgb(0, 0, 0);
    
}
h1{
    text-align: center;
}
.display{
    background-image: url('images/waterfall.jpg');
    background-size:80vh;
    background-repeat: no-repeat;
    width:50vw;
    height:100vh;
  



}

.formdiv:not(svg){
   
    padding-top:50px;
    text-align:center;
    padding-left:20px;
}
p{
    display:flex;
    flex-direction:column;
    text-align:left;
}

input{
   width:250px;
   background-color: rgb(237, 242, 240);
   border-radius:5px;
   border-bottom-left-radius: ;
   border:2px solid peachpuff;
}

.field{
    display:flex;
    
    gap: 4rem;
    border: 0px;
}

br{
  width: 2px;
  box-shadow: black 4px;
}

button{
  background-color:peachpuff;
  color:black;
  border-radius:90px;
  border:solid rgb(255, 255, 255) 3px;
  padding:0.5px;
  width:40%;
 

}
.button-contain{
  display:flex;

  align-items: center;
}

label,.req{
  font-size: 0.7rem;
}

input:user-invalid{
    border-color:red;
}
input:user-valid{
  border-color: green;
}